---
import { Icon } from "astro-icon";
import api from "../configs/api";
import ArticleCard from "../components/reusable/ArticleCard";

const selectedArticles = await api.getSelectedArticles();
---

<!-- <Layout title="Interesting Globe">
  <main>
    <h1>Welcome to <span class="text-gradient">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://docs.astro.build/"
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
      />
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
      <Hyperlink label="to sample art" to="/art/1" client:visible />
    </ul>
  </main>
</Layout> -->
<section
  class="h-screen bg-[#C3BAA9] font-serif grid md:grid-cols-1 lg:grid-cols-2 p-8 gap-4"
>
  <div class="grid grid-rows-2 mr-4">
    <div class="flex flex-col justify-between">
      <div class="grid grid-cols-3 grid-rows-2 h-full">
        <div
          class="col-start-3 col-span-2 font-bold text-6xl hover:bg-black hover:text-white cursor-pointer transition ease-in-out duration-150"
        >
          <div class="flex justify-end">START</div>
          <div class="flex justify-end items-end">
            HERE
            <span class="text-xs font-normal mb-1"
              >your random reads <span>&gtdot;</span>
            </span>
          </div>
        </div>
      </div>
      <div class="text-2xl font-bold flex justify-center hover:underline">
        OR
      </div>
    </div>
    <div class="grid grid-cols-2 grid-rows-2">
      <div class="col-start-2 row-start-2 font-bold text-6xl align-bottom">
        <div
          class="h-full flex flex-col justify-end hover:bg-black hover:text-white cursor-pointer transition ease-in-out duration-150"
        >
          <div class="flex justify-end items-center">
            <Icon
              id="randomize-button"
              name="fa-solid:dice-d20"
              class="text-[#C3BAA9] hover:text-white cursor-pointer transition ease-in-out hover:scale-[1.2] duration-300 mr-4"
              rotate="90deg"
              width="50px"
              height="50px"
            />
            START
          </div>
          <div class="flex justify-end">RANDOM</div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 pb-4 flex flex-col justify-between w-full h-3/4">
    {
      selectedArticles.map((article) => {
        return (
          <div class="h-28">
            <ArticleCard article={article} />
          </div>
        );
      })
    }
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

  section > div {
    font-family: "Montserrat", sans-serif;
    min-width: 450px;
    color: black;
  }
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
